@import 'mixins';

$white: hsl(0, 0%, 100%);
$lightPink: hsl(275, 100%, 97%);
$grayishPurple: hsl(292, 16%, 49%);
$darkPurple:hsl(292, 42%, 14%);
$mobile: false; 

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('assets/images/background-pattern-desktop.svg');
  position: absolute;
  background-size: cover;
  background-repeat: repeat-x;
  @include dimensions(30%, 100%);
}

body {
  @include dimensions(100vh, 100vw);
  @include min-dimensions(100vh, 100vw);
  position: relative;
  background: $lightPink;
  font-family: 'Work Sans', sans-serif;
}

main {
  @include dimensions(700px, 700px);
  background-color: $white;
  margin: 0px auto;
  position: relative;
  top: 25%;
  border-radius: 15px;
  padding: 0 40px;
}

#title {
  @include dimensions(100px, 650px);
  @include font-attributes(700, 2.2em);
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  margin: 10px 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $lightPink;
  #dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @include font-attributes(600, 1.1em);
    path {
      pointer-events: none;
    }
    svg:hover, h3:hover, svg:focus, h3:focus {
      cursor: pointer;
      color: $grayishPurple;
    }
    svg:hover, svg:focus {
      border: 2px solid $lightPink;
    }

  }
  p {
    @include font-attributes(400, 16px);
    color: $grayishPurple;
    line-height: 150%;
  }
}

.attribution { 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 11px; 
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  } 
}

@media (max-width: 1024px) {
  main {
    @include dimensions(598px, 598px);
    padding: 0 35px;
  }
  #title {
    @include dimensions(86px, 555px);
    @include font-attributes(700, 1.88em);
    padding: 0 35px;
  }
  .dropdown {
    margin: 8.55px 0;
    padding-bottom: 17.1px;
    #dropdown-header {
      margin-bottom: 17.1px;
      @include font-attributes(600, .94em);
    }
    p {
      @include font-attributes(400, 14px);
    }
  }
  .attribution {
    height: 2.14em;
    font-size: 9.4px;
  }
}

@media (max-width: 768px) {
  main {
    @include dimensions(450px, 450px);
    padding: 0 23px;
  }
  #title {
    @include dimensions(55px, 355px);
    @include font-attributes(700, 1.21em);
    padding: 0 23px;
  }
  .dropdown {
    margin: 5.5px 0;
    padding-bottom: 10.9px;
    #dropdown-header {
      margin-bottom: 10.9px;
      @include font-attributes(600, .60em);
    }
    p {
      @include font-attributes(400, 9px);
    }
  }
  .attribution {
    height: 1.4em;
    font-size: 6px;
  }
}

